.content-production-efficiency table thead tr th{
    display: inline-block;
    height: 150px;
    /*Firefox*/
    -moz-transform: rotate(-90deg);
    /*Safari*/
    -webkit-transform: rotate(-90deg);
    /*Opera*/
    -o-transform: rotate(-90deg);
    /*IE*/
    writing-mode: tb-rl;
    filter: flipv fliph;
}

#content-production-efficiency{
	overflow: scroll;
	background-color:;
}

::-webkit-scrollbar-track{
border:1px gray solid;
border-radius:10px;
-webkit-box-shadow:0 0 6px gray inset;
} 

.title-stoppage{
	background-color: #0B486B;
	color: #fff;
}


.title-defects{
	background-color: #CFBE27;
	color: #fff;
}


.title-scrap{
	background-color: #A82743;
	color: #fff;
}

.result-search-problem{
    width: 100%;
    background-color: #DCE2E2;
    height:120px;
    overflow: scroll;
}

.row-problem-modal{
    width: 100%;
    background-color: ;
}



.result-search-problem label{
    float: left;
    width: 75%;
}


.result-search-problem input{
    width: 70px;
    float: left;
}

.add-problem-effciency{
    background-color: #A82743;
    border-radius: 3px;
    margin: 3px;
    padding: 3px;
    font-size: 12pt;
    color: #fff;
    display: block;
}

.value{
    background-color: #D95B43;
    color: #fff;
}

table tr:hover {
    background-color: #C44D58;
    color:#556270;
}

.select_row{
    background-color: #8F8F8F;
    color:#fff;
}