
body{
	font-family: sans-serif;
	background-color: #eee;
}

/*Colours*/
/*RED: f33d3d
  GREEND: 38ad67;
*/
/*
.container{
	width: 95%;
	margin: 0px auto;
}*/
/*User photo*/
.user-photo{
	width: 50px;
	height: 50px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	margin: 0px;
	padding: 0px;
	border: 0px solid #555;
	background: url(http://link-to-your/image.jpg) no-repeat;
}

/*Message error, any thing*/
.message-any-thing{
	display:none; 
	background-color:#BF4D4D;
 	color:#fff;
  	padding:5px;
  	margin:5px;
}
/*data-content*/


/*Content User */
.content-user{
}

.user-account{
	float: right;
	width: 50px;
	font-size: 9pt;
	background-color: #72AD75;
	padding: 10px;
	margin-right: 20px;
}


.user-account a {
	color: #fff;
}

header{
}

.search{
	max-width: 100%;
	padding: 1px;
	overflow: auto;
}

/*imageIcos*/
.imageIcos{
	width: 20px;
	vertical-align: middle;
	margin-top: -5px;
	margin-right: -5px;
	margin-left: 5px;
}

.imageIcosTable{
	width: 15px;
	vertical-align: middle;
}

a {
	text-decoration:none;
	margin: 5px;
	color: #555;
	cursor: pointer;
}
a:hover{
	color: #2790B0;

}

.datanotfound{
	text-transform: uppercase;
	background-color: #2A363B;
	color:#fff;
	padding: 5px;
	margin: 5px;
}

.search-input{
	float: right;
	outline: none;
	border: 1px solid #2790B0;
	padding: 5px;
}


/*contant-menu-logo*/
.contant-menu-logo{
	width: 100%;
	clear: both;
}
.logo{
	width: 18%;
	padding: 15px;
	font-size: 1em;
	background-color: #2B4E72;
	color:#fff;
}

/*Menu*/
nav{
	width: 99%;
	margin-bottom: 10px;
	background-color: #2790B0;
	color: #fff;
	float: left;
	padding: 5px;
}

nav ul{
	display: inline;
}

nav li{
	display: inline;
	cursor: pointer;
	
}
nav a:link{
	color: #fff;
	list-style-type: none;
}
nav a:visited {
	color: #fff;
	list-style-type: none;
}


nav ul li:hover{
	background-color: #94BA65;
}
nav ul li {
	padding: 5px;
  	display: inline-block;
  	margin-right: -4px;
  	padding: 5px 20px;
  	position: relative;
  	cursor: pointer;
  	-webkit-transition: all 0.2s;
  	   -moz-transition: all 0.2s;
  	    -ms-transition: all 0.2s;
  	     -o-transition: all 0.2s;
  	transition: all 0.2s;
}

nav ul li ul {
	padding: 0;
  	position: absolute;
  	top: 25px;
  	left: 0;
  	width: 150px;
  	-webkit-box-shadow: none;
  	   -moz-box-shadow: none;
  	box-shadow: none;
  	display: none;
  	opacity: 0;
  	visibility: hidden;
  	-webkit-transiton: opacity 0.2s;
	 -moz-transition: opacity 0.2s;
	  -ms-transition: opacity 0.2s;
	   -o-transition: opacity 0.2s;
	     -transition: opacity 0.2s;
}
nav ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
nav ul li:hover ul {
  display: block;
  z-index: 1;
  opacity: 1;
  visibility: visible;
}




.active-page{
	background-color: #36a9e1;
	margin: 10px;
	border-radius: 3px;
	color: #fff;
}
/*Menu End*/

.data-content{
	width: 100%;
	overflow: auto;
}
.dashboard{
	margin: 5px 0 10px;
	padding: 0px;
	width: 30%;
	border: 1px solid #CCC;
	color: #2790B0;
	background-color: #fff;
	float: left;
	
}
.dashboard ul li{
	padding: 0px;
  	display: inline-block;
  	margin-right: 0px;
  	position: relative;
  	padding: 1px;
  	cursor: pointer;
}
.active-dashboard{
	color: #555;
}
/*Data-production*/
.data-production{
	width: 40%;
	padding: 10px;
	background-color: ;
	position: relative;
	float: right;
}
.assembly-data{
	color: #94BA65;
	float: right;
	font-size: 1em;
	margin: 5px;
	font-weight: bold;
	
}
.press-data{
	float: right;
	color: #2790B0;
	font-size: 1em;
	margin: 5px;
	margin-right: 10px;
	font-weight: bold;
}
/*Data-production End*/

/*Body-container*/
.container{
	width: 100%;
	margin: 0px auto;
}
/*Body-container End*/

.message-personal{
	width: 40%;
	margin: 15px;
	float: left;
	padding: 10px;
	background-color: green;
}
/*imageHader*/

.imageHader{

}
/*header-content*/
.header-content{
	width: 100%;
	padding: 5px;
}
/*Title-plan-index*/
.title-content-data{
	float: ;
	margin-left: 10px;
	padding: 8px;
	color: #2790B0;
	width: 50%;
	font-weight: bolder;
	font-size: 1.2em;
}
/*Date-plan-index*/
.date{
	float: right;
	background-color: #94BA65;
	/*border-bottom: 1px solid #94BA65;*/
	color:#fff;
	padding: 5px;
	
}
.content-data{
	width: 98%;
	float: none;
	font-size: .9em;
	padding: 5px;
	border: 1px solid #e0e0e0;
}

/*Date-plan-index Table*/
table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}

table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}

table th {
    border-top:0;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #ededed;
}

table tr:first-child th:first-child {
    border-top-left-radius:3px;
}
table tr:first-child th:last-child {
    border-top-right-radius:3px;
}

table td {
    padding:10px;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
}

table tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}
table tr:hover td {
}

table{
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    background:#eaebec;
    border:#ccc 1px solid;
    border-radius:3px;
    border-collapse:collapse; border-spacing: 0; 
    box-shadow: 0 1px 2px #d1d1d1;
	width: 100%;
	border-radius: 1px;
}
table thead tr th{
	padding: 5px;
}

table tbody{
	text-align: center;
}
/*End table*/


#content-production-plan{
	width: 45%;
	float: right;
	overflow: auto;
	height: 320px;
	margin: 10px 0px;
	font-size: .9em;
	border: 1px solid #CCC;
	padding: 10px;
	background-color: #fff;
}


#content-post-user{
	width: 50%;
	word-wrap: break-word;
	float: left;
	margin-bottom: 10px;
	font-size: .9em;
	border: 1px solid #CCC;
	padding: 10px;
	background-color: #fff;
	margin-top: 10px;
}

.content-post{
	
	width: 100%;
	/*box-shadow: inset 0px -12px 0px 5px #888;*/
	overflow: scroll;
	height: 250px;
}
.btn-raplay-post{
	float: right;
}
.date-post{
	float: right;
	margin: 5px;
	color: #554;
	font-size: 9pt;
	font-style: italic;
}
.content-new-post{
	width: 100%;
	overflow: auto;
}
.new-post-content{
	width: 95%;
	border: 1px solid #ccc;
	height: 50px;
	resize:none;
	/*background: #ccc;*/
}
.row-post{

	width: 100%;
	clear: both;
}
.user-post{

	float: left;
	width: 10%;
	margin: 5px;
	text-align: center;
}

.post-name-user{
	font-size: 9pt;
	color: #555;
}

.content-post-user{
	width: 85%;
	background-color: #E5E9EC;
	margin: 5px;
	padding: 5px;
	float: left;
	word-wrap: break-word;
	border-radius: 3px;
	color: #2790B0;
}

#content-production-production-defects{
	width: 45%;
	margin: 10px 0px;
	float: right;
	font-size: .9em;
	border: 1px solid #CCC;
	padding: 10px;
	background-color: #fff;
}

#content-production-charts{
	width: 98%;
	float: left;
	font-size: .9em;
	border: 1px solid #CCC;
	padding: 10px;
	margin-top: 10px;
	background-color: #fff;
}

/*--------*/
.panel-data-edit{
	background-color: #E0E0E0;
	padding: 20px;
	color: gray;
}
}
.panel-data-edit label{
	font-size: 1em;
}

.panel-data-edit input[type=text], input[type=password], select, textarea{
	width: 50%;
	outline: 0px;
	border: 0px;
	margin: 5px;
	padding: 5px;
	outline: 0px;
	background-color: #fff;
}

input[type=submit], button{
	padding: 5px;
	color: #fff;
	font-size: 1em;
	background-color: #555;
	border: 0px;
	cursor: pointer;
	border-radius: 2px;
}
input[type=submit]:hover, button:hover{
	background-color: #94BA65;
}

/*table tr:nth-child(even) {
	background: #CCC;

}

table tr:nth-child(odd) {
	background: #fff;
}*/

/*/Messaje success*/

.message-successful{
	background-color: #009989;
	color: #fff;
	padding: 10px;
}

@media screen and (max-width: 980px){
	.logo{
		width: auto;
		float: none;
		margin: 0px auto;
		height: auto;
		clear: both;
	}
	#modal{
		width: 90%;
		float: none;
		font-size: .8em;
	}
	nav {
		width: auto;
		float: none;
		margin: 0px auto;
		height: auto;
	}
	.dashboard,
	.data-production{
		width: auto;
		float: none;
	}
	.content-data{
		margin: 5px;
	}
	#content-production-plan,
	.modal,
	#content-production-production-defects,
	#content-production-users,
	#content-production-charts,
	#chart_div,
	#content-post-user,
	#content-production{
		width: auto;
		float: none;
		font-size: .8em;
		margin: 5px;
	}
	.panel-data-edit input[type=text], input[type=password], select, textarea{
		width: 90%;
		float: none;
	}
	.panel-data-edit input[type=submit], button, .btn-raplay-post{
		width: 100%;
		float: none;
	}
	.panel-data-edit label{
		width: 90%;
	}
}

@media screen and (max-width: 720px){
	
	#modal{
		width: auto;
		margin: 5px;
		float: none;
		font-size: .8em;
	}
	nav , .logo{
		width: auto;
		float: none;
		margin: 0px auto;
		height: auto;
	}
	nav ul{
		display: list-item;
		margin:0px;
	}
	
	.content-data, {
		width: auto;
		float: none;
		margin: 5px;
	}
	#content-production-molds table #content-production-molds-th-comment, #content-production-molds-th-update, 
	#content-production-molds-td-comment, #content-production-molds-td-update{
		display: none;
	}

}

@media screen and (max-width: 480px){

}