body{
	background-color: #2B4E72;
	font-family: sans-serif;
}
h1{
	font-size: 1.5em;
	color:#fff;
}
a{
	color: #fff;
	font-size: 12px;
}
input{
	font-size: 14px;
	border: 0px;
	outline: 0px;
	padding: 5px;
	width: 100%;

}
.error-login{
	color: #C21A01;
}

.content{
	width: 100%;
	position: absolute;
}
.content-logo{
	width: 100%;
	padding: 5px;
	text-align: center;
}
.logo{
	font-size: 2em;
	
	text-align: center;
	width: 100%;
	color: #fff;
}

.content-login{
	margin: 100px auto;
	width: 520px;
}
label{
	font-size: 1em;
	color: #fff;

}
input[type=submit]{
	background:#555;

	cursor: pointer;
	border-color:#9eb9c2;
	color: #fff;
	border: 0px;
	width: 100%;
	margin-top: 10px;
	height: 50px;
	font-size: 16pt;
}
.content-login-form{
	border-radius: 0px;
	width: 100%;
	background-color: #;
	padding: 10px;
}
input[type=text], input[type=password]{
	width: 95%;
	height: 30px;
	font-size: 16pt;
	border-radius: 1px;
	margin: 5px;
}

input[type=text]:focus, input[type=password]:focus{
	border-color:#7dc9e2;
	outline-color: #dceefc;
	outline-offset:0;
	color: #555;
}

@media screen and (max-width: 560px){
	.content-login {
		width: auto;
		float: none;
		margin: 50px auto;
		height: auto;
	}
}

@media screen and (max-width: 760px){
	.content-login {
		width: auto;
		float: none;
		margin: 50px auto;
		height: auto;
	}
}