.modal{
	position: absolute;
	width: 50%;
	left: 0px;
	right: 0px;
	z-index: 101;
	display: none;
	margin: 0px auto;
	padding: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}



.modal-opacity{
	opacity: 0.5;
}
.close-modal{
	float: right;
	color: #fff;
	padding: 10px;
	cursor: pointer;
}
.modal header{
	background-color: ;
	font-size: 2em;
	color: #94BA65;
	margin: 5px;
}
.modal label{
	margin: 5px;
	color: #2790B0;
}
.modal input, textarea, select{
	outline: none;
	font-family: sans-serif;
	font-size: ;
	color: #555;
	margin: 5px;
	border: 0px;
	width: 100%;
	display:block;
	height: 25px;
	padding: 4px;
	border: 1px solid #ccc;
}

.modal input:focus, textarea:focus, select:focus{
	border: 1px solid #94BA65;
}
textarea {
	height:150px;
}

.modal button{
	padding: 5px;
	color: #fff;
	font-size: 1em;
	background-color: #555;
	border: 0px;
	cursor: pointer;
	border-radius: 2px;
}
button:hover{
	background-color: #94BA65;
}