.status_plan{
	background-color: #72AD75;
	padding: 8px;
	width: 50%;
	margin: 8px;
	color:#fff;
}

@media screen and (max-width: 780px){
	.status_plan{
		width: 90%;
		float: none;
		text-align: center;
	}
}
